name: Run R Collect

on:
  schedule:
    - cron: "0 3 * * *" # roda todos os dias às 03:00 UTC
  workflow_dispatch:    # permite rodar manualmente também

jobs:
  run-r-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup R
        uses: r-lib/actions/setup-r@v2

      - name: Install dependencies
        run: |
          Rscript -e 'install.packages(c("jsonlite","glue","dplyr", "writexl", "readr"))'

      - name: Run script
        run: Rscript R/collect/collect_central.R
