name: Run R Collect

on:
  schedule:
    - cron: "0 13 * * *" # roda todos os dias às 03:00 UTC
  workflow_dispatch:    # permite rodar manualmente também

jobs:
  run-r-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup R
        uses: r-lib/actions/setup-r@v2

      - name: Install system dependencies
        run: |
          sudo apt-get update -qq
          sudo apt-get install -y \
            libcurl4-openssl-dev \
            libssl-dev \
            libxml2-dev
        
      - name: Install dependencies
        run: |
          Rscript -e 'install.packages(c("jsonlite","glue","dplyr", "writexl", "readr", 
          "lubridate", "purrr", "stringr", "tidyr", "httr"))'

      - name: Run script
        run: Rscript R/collect/collect_central.R

      - name: Configure Git
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'

      - name: Commit changes
        run: |
          git add -A
          git commit -m "Dados atualizados - $(date +'%Y-%m-%d %H:%M:%S')"

      - name: Push changes
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          git push https://${GH_TOKEN}@github.com/${{ github.repository }}.git HEAD:main
